.landing-page {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
    background-color: white;
	width: 100%;
	.logo-wrapper {
		height: 110px;
		.logo {
			margin-left: 40px;
			text-align: left;
			img {
				max-height: 80px;
			}
		}
	}
	.page {
		color: #6d6d6d;
		float: left;
		margin: auto;
		width: calc(100% - 400px);
		padding-left: 50px;
		overflow: auto;
		min-height: 400px;
		text-align: left;
		.top {
			.header {
				color: black;
				font-size: 50px;
				max-width: 800px;
			}
			.summary {
				margin-top: 20px;
				margin-right: 100px;
				font-size: 25px;
				margin-bottom: 25px;
			}
			border-bottom: 1px solid #dddcdc;
			margin-right: 50px;
		}
		.info {
			margin-right: 50px;
			color: #6d6d6d;
			text-align: left;
			display: inline-block;
			.display {
				.highlights {
					.pre-highlight {
						margin-top: 20px;
						font-size: 17px;
						margin-bottom: 25px;
					}
					.title {
						color: black;
						font-size: 28px;
						margin-top:	20px;
					}
					.sub-title {
						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}
					li {
						margin-top: 20px;
						margin-bottom: 20px;
						color: black;
						font-size: 20px;
					}
				}
				.contact {
					text-align:center;
					.wrapper {
						margin: 0 auto;
						width:100%;
						font-size:17px;
						img {
							max-width: 200px;
							max-height: 70px;
						}
						.title {
							font-size: 22px;
						}
						.phone {

						}
						.email {

						}
						.color {
							color: dodgerblue;
						}
					}
				}
			}
		}
	}
	.form {
		float: left;
		width: 345px;
		text-align: left;
		min-height: 300px;
		top: 20%;
		left: 34%;
		.title {
			border: 1px solid #696969;
			margin-bottom: 15px;
			padding-top: 20px;
			background-color: #f3f3f3;
			font-size: 25px;
			padding-left: 15px;
			.display-phone {
				margin-top: 10px;
				color: rgb(7, 128, 250);
			}
			.display-email {
				margin-top: 10px;
				color: rgb(7, 128, 250);
				padding-bottom: 20px;
			}
		}
		.inputs {
			border: 1px solid #696969;
			background-color: #f3f3f3;
			text-align: left;
			.title {
				color: white;
				background-color: rgb(18, 134, 192);
				.header {
					font-size: 25px;
				}
				.sub-title {
					margin-top: 10px;
					margin-bottom: 10px;
					font-size: 17px;
				}
			}
			.field-name {
				margin-left: 10px;
				margin-bottom: 5px;
			}
			input {
				margin-left: 10px;
				margin-bottom:10px;
				width: 300px;
			background-color: #f3f3f3;
				border-top: none;
				border-left: none;
				border-right: none;
				border-radius: 5px;
				border-bottom: 1px solid #8f8e8e;
			}
			button {
				margin-left: 10px;
				margin-top: 25px;
				background-color: #f3f3f3;
				color: rgb(18, 134, 192);
				border-color: rgb(18, 134, 192);
				height: 40px;
				width: 200px;
				margin-bottom: 30px;
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 900px){
    #form {width: 100%; text-align: center;}
    #info {width: 100%;}
}